workspaces-update=false
save-exact=true
strict-allow-scripts=true
min-release-age=7
min-release-age-exclude[]=@bendyline/squisq*
min-release-age-exclude[]=@bendyline/gezel*
min-release-age-exclude[]=@bendyline/gezk
